<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="PatrolServer.Services.User.UserService">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" bindingConfiguration="userBinding" contract="PatrolServer.Services.User.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/PatrolService/User/" />
          </baseAddresses>
        </host>
      </service>
      <service name="PatrolServer.Services.Report.ReportService">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" bindingConfiguration="reportBinding" contract="PatrolServer.Services.Report.IReportService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/PatrolService/Report/" />
          </baseAddresses>
        </host>
      </service>
      <service name="PatrolServer.Services.Base.BaseService">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" bindingConfiguration="baseBinding" contract="PatrolServer.Services.Base.IBaseService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/PatrolService/Base/" />
          </baseAddresses>
        </host>
      </service>
      <service name="PatrolServer.Services.Patrol.PatrolService">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" bindingConfiguration="patrolBinding" contract="PatrolServer.Services.Patrol.IPatrolService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/PatrolService/Patrol/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="reportBinding" crossDomainScriptAccessEnabled="True" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824" transferMode="Buffered" sendTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" maxBufferPoolSize="1073741824">
          <security mode="None">
          </security>
          <!--<readerQuotas maxArrayLength="365350000" maxBytesPerRead="365350000" maxStringContentLength="365350000" />-->
        </binding>
        <binding name="userBinding" crossDomainScriptAccessEnabled="True" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824" transferMode="Buffered" sendTimeout="00:30:00" openTimeout="00:30:00">
          <security mode="None">
          </security>
          <!--<readerQuotas maxArrayLength="365350000" maxBytesPerRead="365350000" maxStringContentLength="365350000" />-->
        </binding>
        <binding name="baseBinding" crossDomainScriptAccessEnabled="True" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824" transferMode="Buffered" sendTimeout="00:30:00" openTimeout="00:30:00">
          <security mode="None">
          </security>
          <!--<readerQuotas maxArrayLength="365350000" maxBytesPerRead="365350000" maxStringContentLength="365350000" />-->
        </binding>
        <binding name="patrolBinding" crossDomainScriptAccessEnabled="True" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824" transferMode="Buffered" sendTimeout="00:30:00" openTimeout="00:30:00">
          <security mode="None">
          </security>
          <!--<readerQuotas maxArrayLength="365350000" maxBytesPerRead="365350000" maxStringContentLength="365350000" />-->
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <connectionStrings>
    <add name="SQLEntities" connectionString="metadata=res://*/PatrolModel.csdl|res://*/PatrolModel.ssdl|res://*/PatrolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ltdbsvr2;Initial Catalog=kenki2010;Persist Security Info=True;User ID=sa;Password=sa1111;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MyConnectionString" connectionString="Data Source=ltdbsvr2;Initial Catalog=kenki2010;Persist Security Info=True;User ID=sa;Password=sa1111;" />
  </connectionStrings>
  <appSettings>
    <!-- 打印机默认名称为本机打印机名称，如果是远程打印机，那么应该加上远程计算机名称如：\\RemoteComputer\PrinterName,远程打印机有权限问题无法正常工作请设置为服务器本机虚拟打印机-->
    <add key="defaultPrinter" value="Microsoft XPS Document writer" />
    <!-- 移动手机端传过来的图片裁剪成的正方形大小-->
    <add key="clipImageSize" value="200" />
    <!-- 导出Excel扩展名-->
    <add key="excelExtend" value=".xlsx" />
    <!-- 导出Pdf扩展名-->
    <add key="pdfExtend" value=".pdf" />
    <!-- Excel格式化模板文件路径-->
    <add key="excelTemplateFile" value="/Excel/Template.xlsx" />
    <!-- Excel导出页面用的头部图片地址,与web后台logo一样-->
    <add key="excelLogoFile" value="/Excel/logo.bmp" />
    <!-- Excel导出二维码图片地址,与web后台一样-->
    <add key="twoFile" value="/Excel/two.png" />
    <!-- 用户账号有效期一个月-->
    <add key="tokenLife" value="2592000" />
    <!-- 重置密码默认密码前缀+员工编号-->
    <add key="defaultPassword" value="PW" />
    <!-- 日志存放文件夹相对路径-->    
    <add key="logUrl" value="/Log/" />
    <!-- 特巡上传图片临时存放路径，绝对路径，必须放在h5目录下-->
    <add key="imageTempUrl" value="D:\TShotWorkSpace\SOURCE\Patrol\app\resources\Temp" />
    <!-- 特巡上传图片正式存放路径，绝对路径，必须放在h5目录下-->
    <add key="imageSaveUrl" value="D:\TShotWorkSpace\SOURCE\Patrol\app\resources\Save" />
    <!-- 导出pdf存放路径，绝对路径，必须放在h5目录下-->
    <add key="excelUrl" value="D:\TShotWorkSpace\SOURCE\Patrol\app\resources\Excel" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>