<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SQLEntities" connectionString="metadata=res://*/PatrolModel.csdl|res://*/PatrolModel.ssdl|res://*/PatrolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ltdbsvr2;Initial Catalog=kenki2010;Persist Security Info=True;User ID=sa;Password=sa1111;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/><add name="SQLEntities" connectionString="metadata=res://*/PatrolModel.csdl|res://*/PatrolModel.ssdl|res://*/PatrolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ltdbsvr2;Initial Catalog=kenki2010;Persist Security Info=True;User ID=sa;Password=sa1111;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="MyConnectionString" connectionString="Data Source=ltdbsvr2;Initial Catalog=kenki2010;Persist Security Info=True;User ID=sa;Password=sa1111;"/>
  </connectionStrings>
  <appSettings>
    <add key="tokenLife" value="24"></add>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
